@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 100px);
  padding-top: 150px;
}
.description-container .description,
.upcommings {
  margin: 5rem;
  text-align: justify;
}
.intro .section-container {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}
.intro h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.intro > .section-footer {
  /* align-self: flex-end; */
  font-size: xx-large;
  font-weight: bold;
  height: 100px;
}

.intro .moto {
  border-left: 2px solid red;
}
#description-container {
  height: 100vh;
  background-image: url("../../../public/assets/medieval-japanese-samurai-32 (copy).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#description-container .section-container {
  width: 100%;
}
.section-header {
  font-size: xx-large;
  font-weight: bold;
  padding: 15px 10px;
  background-color: #49638c;
  color: white;
  text-align: center;
}
#description-container .section-header h2 {
  text-align: center;
}
#description-container .section-container {
  height: calc(100vh - 100px);
}
#description-container .section-footer {
  font-size: xx-large;
  font-weight: bold;
  flex-grow: 1;
  height: 100px;
}
#upcommings-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../../public/assets/4588517.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#upcommings-container .section-header {
  height: 100px;
}
#upcommings-container .upcommings {
  height: calc(100vh - 100px);
}
#header-container {
  /* background-color: rgba(197, 211, 245, 0.322); */
  height: 100vh;
  background-image: url("../../../public/assets/2020-02-11_5e42c8469d971_White_background-scaled.jpg") ;
  /* background-repeat: repeat-y; */
  background-size: cover;
  color: white;
}


header > .menu-container {
  text-align: center;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}

.navigator {
  position: fixed;
  color: white;
  top: 50%;
  transform: translate(0%, -50%);
}
.navigator div {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 20px;
  width: 7px;
  height: 70px;
  background-color: #29cc9096;
}
html {
  scroll-behavior: smooth;
}
