$font-boulden: Boulden grunge;
$font-poopins: "Poppins", sans-serif;

.gallery-container {
  min-height: 900px;
  color: white;
  // background-image: url("../../../public/assets/Rectangle 8.png");
  padding: 200px;
  .background-image {
    top: 42px;
    left: 0;
    position: absolute;
    width: 100vw;
  }
  .text-section {
    position: absolute;
    // margin-top: 20px;
    top: 150px;
    h3 {
      font-family: $font-boulden;
    }
    p {
      font-family: $font-poopins;
    }
    .filter-section {
      margin-top: 20px;
      display: flex;
      // justify-content: space-between;
      align-items: center;
      * {
        margin-right: 5px;
      }
    }
  }

  .image-section {
    margin-top: 50px;
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .image {
      outline: 3px solid rgb(172, 0, 0);
      border-radius: 30px;
      width: 300px;
      height: 395px;
      margin: 30px 30px 0 0;
      position: relative;
      .background {
        position: absolute;
        img {
          height: 394px;
          border-radius: 32px;
          object-fit: cover;
          -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
          box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
        }
      }
      .character {
        position: absolute;
        //   top: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 153;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        // width: 220px;
      }
      .indicator{
        height: 100%;
        width: 100%;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 120;
        border-radius: 30px;
        background-color: rgba(212, 62, 62, 0.521);
      }
      &:hover{
        .indicator{
          display: block;
        }
        // border: 10px solid red;
      }
    }
    .description {
      font-family: $font-poopins;
      position: absolute;
      bottom: 0;
      z-index: 153;
      padding: 20px;
    }
  }
}
