$pale-white: #ffffff;

@mixin cover(){
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
}
@mixin round($radius){
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   -o-border-radius: $radius;
   border-radius: $radius;
}
@mixin big(){
   font-family: 'Montserrat', sans-serif;
}
@mixin anime($time, $cubic){
   -webkit-transition: all $time $cubic;
   -moz-transition: all $time $cubic;
   -o-transition: all $time $cubic;
   transition: all $time $cubic;
}
@mixin center(){
   // top: 50%;
   // left: 50%;
   // -webkit-transform: translate(-50%, -50%);
   // -moz-transform: translate(-50%, -50%);
   // -o-transform: translate(-50%, -50%);
   // transform: translate(-50%, -50%);
}
html{
   width: 100%;
   height: 100%;
   overflow-x:hidden;
   
}
* {

}
body{
   padding:0;
   margin:0;
}
::-webkit-scrollbar {
   width: 8px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #ffffff; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: rgb(255, 255, 255); 
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: rgb(255, 255, 255); 
 }
.section{
//   width: 100%;
//   height: 400px;
  padding:0;
  display: flex;
}
.custom-button-container{
    display: inline-flex

}
   .button{
      transform: skew(-10deg);
   }
 .one{
    .button{
       padding: 8px 18px;
      //  height: 75px;
      //  color: $pale-white;
      color: white;
       @include big();
       font-size: 1em;
    //    position:absolute;
       @include center();
       border: rgba(253, 253, 253, 0.308) 2px solid;
       overflow:hidden;
       @include anime(0.6s, (cubic-bezier(.55,0,.1,1)));
       cursor: pointer;
       box-shadow: 0px 0px 0px rgb(255, 255, 255);
       &:hover{
          text-shadow: 0px 8px 6px rgba(0,0,0,0.9);
          box-shadow: 8px 8px 0px rgb(255, 255, 255), -8px -8px 0px #f87171;
       }
       .ring{
          width: 100%;
          height: 100%;
          position: absolute;
          background: transparent;
          top:0;
          left:0;
          transform: translate3d(0px ,90px ,0px);
       }
       .one{
          background-color: #ffffff;
          @include anime(0.3s, (cubic-bezier(.55,0,.1,1)));
          z-index: -3;
          transform: translate3d(0px ,0px ,0px);
          z-index: -4;
       }
       .two{
          background-color:#ffffff;
          @include anime(0.5s, (cubic-bezier(.55,0,.1,1)));
          z-index: -3;
          transform: translate3d(0px ,0px ,0px);
       }
       .three{
          background-color: #ffffff;
          z-index: -2;
          transform: translate3d(0px ,0px ,0px);
          @include anime(0.7s, (cubic-bezier(.55,0,.1,1)));
          z-index: -3;
       }
       .four{
         color: white;
         background-color:#202020ce;
          z-index: -1;
          transform: translate3d(0px ,0px ,0px);
          @include anime(0.9s, (cubic-bezier(.55,0,.1,1)));
          z-index: -3;
       }
    }
   }